<% include ./partials/header %>
<div class = "container">
    <div class = "row">
        <div class = "col-md-12 text-center">
            <h1>Login Form!</h1>
        </div>
        <div class = "col-md-12">
            <div>
                <form class="form-signin" action = "/login" method = "POST">
                  <input type="text" name = "username" class="form-control" placeholder="Username" required autofocus>
                  <input type="password" name = "password" class="form-control" placeholder="Password" required>
                  <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me"> Remember me
                    </label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                  <a href = "/campgrounds">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
